<div *ngIf="game" class="container">
    <table class="table">
        <thead>
        <tbody>
            <tr>
                <td>Away Team: </td>
                <td>{{ game.awayTeam.name }}</td>
            </tr>
            <tr>
                <td>Home Team: </td>
                <td>{{ game.homeTeam.name }}</td>
            </tr>
            <tr>
                <td>Away Score: </td>
                <td>{{ game.awayScore }}</td>
            </tr>
            <tr>
                <td>Home Score: </td>
                <td>{{ game.homeScore }}</td>
            </tr>
            <tr>
                <td>Scheduled: </td>
                <td>{{ game.scheduled | date:'MM/dd/YYYY' }}</td>
            </tr>
            <tr>
                <td>Status: </td>
                <td>{{ game.status }}</td>
            </tr>
            <tr>
                <td>Park Name: </td>
                <td>{{ game.parkName }}</td>
            </tr>
            <tr>
                <td>Address: </td>
                <td>
                    <p>
                        {{ game.addressLine }}<br>
                        {{ game.city }}, {{ game.state }} {{ game.zip }}
                    </p>
                </td>
            </tr>
            <tr>
                <td>Field Nbr: </td>
                <td>{{ game.fieldNbr }}</td>
            </tr>
        </tbody>
    </table>

    <a *ngIf="game.homeTeam.league.managerId == loggedInUser.id && game.homeTeam.league.status == 'NEW'" routerLink="/game/edit/{{ game.id }}" class="btn btn-primary">Edit</a>
    <a routerLink="/game/score/{{ game.id }}" *ngIf="game.homeTeam.league.managerId == loggedInUser.id && game.homeTeam.league.status == 'FINALIZED' &&game.status != 'COMPLETED'" class="btn btn-primary ms-2">Score</a>
    <button *ngIf="game.homeTeam.league.managerId == loggedInUser.id && game.homeTeam.league.status == 'NEW'" class="btn btn-danger ms-2" (click)="delete(game.id)">Delete</button>
</div>
