<div class="container">
    <table class="table">
        <thead>
        <tbody>
            <tr>
                <td>Name: </td>
                <td>{{ team.name }}</td>
            </tr>
            <tr>
                <td>Coach: </td>
                <td>{{ team.coach.firstname }} {{ team.coach.lastname }}</td>
            </tr>
            <tr>
                <td>League: </td>
                <td>{{ team.league.name }}</td>
            </tr>
        </tbody>
    </table>

    <a routerLink="/team/edit/{{ team.id }}" class="btn btn-primary">Edit</a>
    <button class="btn btn-danger ms-2" (click)="delete(team.id)">Delete</button>

    <table class="table">
        <thead>
            <tr>
                <th class="col">Oponent</th>
                <th class="col">Home Score</th>
                <th class="col">Away Score</th>
                <th class="col">Scheduled</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let g of games">
                <td><a routerLink="/game/detail/{{ g.id }}">{{ g.homeTeamId == teamId ? g.homeTeam.name : "@ " + g.awayTeam.name }}</a></td>
                <td>{{ g.homeScore }}</td>
                <td>{{ g.awayScore }}</td>
                <td>{{ g.scheduled | date:'MM/dd/YYYY' }}</td>
            </tr>
        </tbody>
    </table>
</div>

