<div *ngIf="league" class="container">
    <table>
        <tbody>
            <tr>
                <td>
                    <label for="name">Name: </label>
                </td>
                <td>
                    <input type="text" id="name" [(ngModel)]="league.name">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="year">Year: </label>
                </td>
                <td>
                    <input type="number" id="year" [(ngModel)]="league.year">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="birthday">Birthday Before: </label>
                </td>
                <td>
                    <input type="date" id="birthday" [ngModel]="league.birthdayBefore | date:'yyyy-MM-dd'" (ngModelChange)="league.birthdayBefore = $event">
                </td>
            </tr>
        </tbody>
    </table>
    <button class="btn btn-primary" (click)="save()">{{ buttonText }}</button>
</div>
