<div *ngIf="league" class="container">
    <table class="table">
        <thead>
        <tbody>
            <tr>
                <td>Name: </td>
                <td>{{ league.name }}</td>
            </tr>
            <tr>
                <td>Manager: </td>
                <td>{{ league.manager.firstname }} {{ league.manager.lastname }}</td>
            </tr>
            <tr>
                <td>Year: </td>
                <td>{{ league.year }}</td>
            </tr>
            <tr>
                <td>Birthday Before: </td>
                <td>{{ league.birthdayBefore | date:'MM/dd/YYYY' }}</td>
            </tr>
        </tbody>
    </table>

    <a *ngIf="league.managerId == loggedInUser.id && league.status == 'NEW'" routerLink="/league/edit/{{ league.id }}" class="btn btn-primary">Edit</a>
    <button *ngIf="league.managerId == loggedInUser.id && league.status == 'NEW'" class="btn btn-danger ms-2" (click)="delete(league.id)">Delete</button>
    <br>
    <a *ngIf="league.managerId == loggedInUser.id && league.status == 'NEW'" routerLink="/team/create/{{ league.id }}">Add a new Team</a>
    <table class="table">
        <thead>
            <tr>
                <th class="col">Name</th>
                <th class="col">Head Coach</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let t of teams">
                <td><a routerLink="/team/detail/{{ t.id }}">{{ t.name }}</a></td>
                <td>{{ t.coach.firstname }} {{ t.coach.lastname }}</td>
            </tr>
        </tbody>
    </table>
    <br>
    <a *ngIf="league.managerId == loggedInUser.id && league.status == 'NEW'" routerLink="/game/create/{{ league.id }}">Add a new Game</a>
    <table class="table">
        <thead>
            <tr>
                <th class="col">Home Team</th>
                <th class="col">Away Team</th>
                <th class="col">Home Score</th>
                <th class="col">Away Score</th>
                <th class="col">Scheduled</th>
                <th class="col">Park</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let g of games">
                <td><a routerLink="/game/detail/{{ g.id }}">{{ g.homeTeam.name }}</a></td>
                <td>{{ g.awayTeam.name }}</td>
                <td>{{ g.homeScore }}</td>
                <td>{{ g.awayScore }}</td>
                <td>{{ g.scheduled | date:'MM/dd/YYYY' }}</td>
                <td>{{ g.parkName }}</td>
            </tr>
        </tbody>
    </table>
</div>
